/* MAIN STYLES */
#main-section {
  margin-top: 2%;
}

#main-section div.card {
  margin-top: 10%;
}


/* FOOTER STYLES */
footer {
  padding: 20px;
  margin-top: 5%;
}


/* MEDIA QUERIES */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  #main-section div.card {
    margin-top: 5%;
  }
}
